.hero{
display: flex;
justify-content: space-between;
color:white;
}

.left-hero-watch img{
    width:203px;
   height: 212px;
   margin:-37px 0 0 35px;   
}
.right-hero-watch{
    width:947px;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -99px;
    z-index:-2;
}
.righ-bg-text{
    width:664px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 250px;
    
}
.righ-bg-text h1{
    font-size: 47px;
    width:100%;
    height:150px;
}
.righ-bg-text h1 span:nth-child(2){
    color:#7e3301;
}
.righ-bg-text p{
    font-size:20px;
}
.righ-bg-text h1 span:first-child, .righ-bg-text p span{
    color:#ff7c03
}


@media screen and (max-width:835px){
        
        .left-hero-watch img{
            width:203px;
           height: 212px;
           margin:-37px 0 0 57px;
        }
        .right-hero-watch{
            width:950px;
            height:100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -99px;
            z-index:-2;
            padding-left:30px
        }
        .righ-bg-text{
            width:595px;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
            height:320px;
        }
        .righ-bg-text h1{
            font-size: 35px;
            width:100%;
            height:150px;
        }
        .righ-bg-text p{
            font-size:21px;
            width:27rem;
        } 
}

@media screen and (max-width:760px){
    .hero{
       
        flex-direction: column;
       
        gap:40px;
        }
        
        .left-hero-watch img{
            width:203px;
           height: 212px;
           margin:-37px 0 0 35px;
        }
        .right-hero-watch{
            width:647px;
            height:90vh;
            display: flex;
           
            margin-top: -99px;
            z-index:-2;
        }
        .righ-bg-text{
            width:504px;
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
            height: 320px;
            
            padding:0 20px;
        }
        .righ-bg-text h1{
            font-size: 30px;
            width:100%;
            height:100px;
        }
        .righ-bg-text h1 span:nth-child(2){
            color:#7e3301;
        }
        .righ-bg-text p{
            font-size:1.2rem;
            width:380px;
        }
        .righ-bg-text h1 span:first-child, .righ-bg-text p span{
            color:#ff7c03
        }
        
}


@media screen and (max-width:700px){
        
        .righ-bg-text{
            width:400px;
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
            height: 320px;
            
            padding:0 20px;
        }
        
        
        .righ-bg-text p{
            font-size:1.2rem;
            width:380px;
            line-height:1.6rem
        }
        .righ-bg-text h1 span:first-child, .righ-bg-text p span{
            color:#ff7c03
        }
        
}




@media screen and (max-width:400px){
.right-hero-watch{
    width:100vw;
}
    .righ-bg-text{
        width:85%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 320px;
        
        padding:0 20px;
        
    }
    
    
    .righ-bg-text p{
        font-size:1.2rem;
        width:290px;
        line-height:1.6rem
    }
    .righ-bg-text h1 span:first-child, .righ-bg-text p span{
        color:#ff7c03
    }
}


@media screen and (max-width:330px){
    .righ-bg-text{
       
        height: 330px;
        
        padding:0 10px;
    }
    
    
    .righ-bg-text p{
        font-size:1rem;
        width:260px;
        line-height:1.6rem
    }
}