.header{
   display: flex;
   align-items: center;
   height: 80px;
   padding: 0 2rem;
   width: 100vw;
}
.header h1{
   font-size:2.3rem;
   margin-right: auto;
   width:135px;
   border-bottom: 1px solid black;
}
.nav a{
   margin:0 2rem;
   color:#ff7c03;
   text-decoration: none;
   font-size: 1.7rem;
}
.header h1 a{
   text-decoration: none;
   color:black;
}
.header .nav-btn{
   padding: 5px;
   cursor: pointer;
background-color: transparent;
visibility: hidden;
opacity: 0;
font-size: 1.8rem;
border:none;
outline: none;
}
@media screen and (max-width:760px){
   .header .nav-btn{
      visibility: visible;
      opacity: 1;
   }
   .nav{
      position: absolute;
      top:0;
      left:0;
      height: 90vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap:1.8rem;
background-color: rgb(82, 35, 3);
z-index: 1;
transform: translateY(-100%);
transition: 1s;
}
.header .responsive_nav{
   transform: none;
}
.nav .nav-close-btn{
position: absolute;
top:2rem;
right:2rem;
}

}